body {
    background-color: #ffb96f;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.info {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.button {
    background-color: #DCDCDC;
    border: 1px solid black;
    width: 80 px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

}


a {
    text-decoration: none;
    color: black;
    font-size: 15px;
   }

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(69, 34, 9);
}