body {
    background-color: #87CEFA;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info {
    text-align: center;
}

.button {
    background-color: #DCDCDC;
    border: 1px solid black;
    width: 80 px;
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: black;

}

.cadas{
    color: #000000;
    background-color: #DCDCDC;
    border: 1px solid black;
    width: 80px;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(2, 19, 52);
}