* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 252, 75);
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    max-width: 80%;
    margin: auto;
}

.block {
    width: calc(25% - 20px);
    border: 1px solid #000000;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bahia {
    margin: 30px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
}

.link {
    text-decoration: none;
    color: rgb(138, 75, 3);
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    border: 1px solid black;
    
}

@media (max-width: 450px) {

.block {
    
}
}

