body {
  font-family: system-ui;
  background: #8cf7ff;
  color: rgb(0, 0, 0);
  text-align: center;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #white;
  font-size: 60px;
  font-family: system-ui;
  letter-spacing: 7px;
}